# additional requirements to be installed with pip
black
cgmquantify-updated
gh-scoped-creds
jupyter-ai==3.0.*
jupyter-smart-on-fhir==0.1.0a4
jupyterhealth-client==0.4.0
jupyterlab-code-formatter
mplcursors
nbgitpuller
pre-commit
ruff
ruptures
voila
